[submodule "HazelApi/vendor/spdlog"]
	path = HazelApi/vendor/spdlog
	url = https://github.com/gabime/spdlog
[submodule "HazelApi/vendor/GLFW"]
	path = HazelApi/vendor/GLFW
	url = https://github.com/atPalash/glfw.git
[submodule "HazelApi/vendor/imgui"]
	path = HazelApi/vendor/imgui
	url = https://github.com/atPalash/imgui.git
